{% extends "base.html" %}

{% block content %}
<br/>
<form class="form" action="/admin/airbnbs" method="GET">
  <div class="form-inline">
    <input type="text" class="form-control" id="search_name" name="search_name" placeholder="Search by name">
    <input type="submit" class="btn btn-primary" value="Search">
  </div>
</form>
<br/>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="add-id">
        <h5 class="mb-0">
          <div id="add-header" data-toggle="collapse" aria-expanded="true">
            Create New Airbnb Data
          </div>
        </h5>
      </div>

      <div id="add-collapse" class="collapse show" aria-labelledby="add-id" data-parent="#accordion">
        <div class="card-body">
          <form class="form" id="add-form" action="create">
            <div class="form-row">
              <div class="form-group col">
                <label for="add-name" class="sr-only">Name</label>
                <input type="text" class="form-control" id="add-name" placeholder="Name of Airbnb">
              </div>
              <div class="form-group col">
                <label for="add-lat" class="sr-only">Latitude</label>
                <input type="number" class="form-control" id="add-lat" step="any" placeholder="Latitude">
              </div>
              <div class="form-group col">
                <label for="add-long" class="sr-only">Longitude</label>
                <input type="number" class="form-control" id="add-long" step="any" placeholder="Longitude">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="add-amenities" class="sr-only">Amenities</label>
                <input type="text" class="form-control" id="add-amenities" placeholder="Amenities">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="add-neighborhood" class="sr-only">Neighborhood</label>
                <input type="text" class="form-control" id="add-neighborhood" placeholder="Neighborhood">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="add-min_nights" class="sr-only">Minimum nights</label>
                <input type="number" class="form-control" id="add-min_nights" placeholder="Minimum nights">
              </div>
              <div class="form-group col">
                <label for="add-reviews" class="sr-only">Reviews per month</label>
                <input type="number" class="form-control" id="add-reviews" step="any" placeholder="Reviews per month">
              </div>
              <div class="form-group col">
                <label for="add-rating" class="sr-only">Rating</label>
                <input type="number" class="form-control" id="add-rating" step="any" placeholder="Rating">
              </div>
            </div>
            <button id="add-submit" type="submit" class="btn btn-primary mb-2">Create</button>
          </form>
        </div>
      </div>
    </div>
    <br/>

    {% for airbnb in airbnbs %}
    <div class="card">
        <div class="card-header" id="{{ airbnb["_id"] }}-id">
            <h5 class="mb-0">
                <div id="{{ airbnb["_id"] }}-header" data-toggle="collapse" data-target="#{{ airbnb["_id"] }}-collapse" aria-expanded="true" aria-controls="{{ airbnb["_id"] }}-collapse">
                    {{ airbnb["name"] }}
                </div>
            </h5>
        </div>

        <div id="{{ airbnb["_id"] }}-collapse" class="collapse show" aria-labelledby="{{ airbnb["_id"] }}-id" data-parent="#accordion">
            <div class="card-body">
                <form class="form" id="{{ airbnb["_id"] }}" action="update">
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="{{ airbnb["_id"] }}-name" class="sr-only">Name</label>
                            <input type="text" class="form-control" id="{{ airbnb["_id"] }}-name" value="{{ airbnb["name"] }}">
                        </div>
                        <div class="form-group col">
                            <label for="{{ airbnb["_id"] }}-lat" class="sr-only">Latitude</label>
                            <input type="number" class="form-control" id="{{ airbnb["_id"] }}-lat" step="any" value="{{ airbnb["location"]["coordinates"][0] }}">
                        </div>
                        <div class="form-group col">
                            <label for="{{ airbnb["_id"] }}-long" class="sr-only">Longitude</label>
                            <input type="number" class="form-control" id="{{ airbnb["_id"] }}-long" step="any" value="{{ airbnb["location"]["coordinates"][1] }}">
                        </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col">
                        <label for="{{ airbnb["_id"] }}-amenities" class="sr-only">Amenities</label>
                        <input type="text" class="form-control" id="{{ airbnb["_id"] }}-amenities" placeholder="Amenities" value="{{ ",".join(airbnb["amenities"]) }}">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col">
                        <label for="{{ airbnb["_id"] }}-neighborhood" class="sr-only">Neighborhood</label>
                        <input type="text" class="form-control" id="{{ airbnb["_id"] }}-neighborhood" placeholder="Neighborhood" value="{{ airbnb["neighborhood"] }}">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col">
                        <label for="{{ airbnb["_id"] }}-min_nights" class="sr-only">Minimum nights</label>
                        <input type="number" class="form-control" id="{{ airbnb["_id"] }}-min_nights" step="any" placeholder="Minimum nights" value="{{ airbnb["minimum_nights"] }}">
                      </div>
                      <div class="form-group col">
                        <label for="{{ airbnb["_id"] }}-reviews" class="sr-only">Reviews per month</label>
                        <input type="number" class="form-control" id="{{ airbnb["_id"] }}-reviews" step="any" placeholder="Reviews per month" value="{{ airbnb["reviews_per_month"] }}">
                      </div>
                      <div class="form-group col">
                        <label for="{{ airbnb["_id"] }}-rating" class="sr-only">Rating</label>
                        <input type="number" class="form-control" id="{{ airbnb["_id"] }}-rating" step="any" placeholder="Rating" value="{{ airbnb["rating"] }}">
                      </div>
                    </div>
                    <button id="{{ airbnb["_id"] }}-submit" type="submit" class="btn btn-primary mb-2">Update</button>
                    <button id="{{ airbnb["_id"] }}-delete" type="button" class="btn btn-danger mb-2" onclick="deleteAirbnb('{{ airbnb["_id"] }}')">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <br/>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/admin/airbnbs.js') }}"></script>
{% endblock %}
