{% extends "base.html" %}

{% block content %}
<br/>
<form class="form" action="/admin/attractions" method="GET">
  <div class="form-inline">
    <input type="text" class="form-control" id="search_name" name="search_name" placeholder="Search by name">
    <input type="submit" class="btn btn-primary" value="Search">
  </div>
</form>
<br/>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="add-id">
        <h5 class="mb-0">
          <div id="add-header" data-toggle="collapse" aria-expanded="true">
            Create New Attraction
          </div>
        </h5>
      </div>

      <div id="add-collapse" class="collapse show" aria-labelledby="add-id" data-parent="#accordion">
        <div class="card-body">
          <form class="form" id="add-form" action="create">
            <div class="form-row">
              <div class="form-group col">
                <label for="add-name" class="sr-only">Name</label>
                <input type="text" class="form-control" id="add-name" placeholder="Name of Attraction">
              </div>
              <div class="form-group col">
                <label for="add-addr" class="sr-only">Address</label>
                <input type="text" class="form-control" id="add-addr" placeholder="Address">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="add-rating" class="sr-only">Rating</label>
                <input type="number" class="form-control" id="add-rating" step="any" placeholder="Rating">
              </div>
              <div class="form-group col">
                <label for="add-lat" class="sr-only">Latitude</label>
                <input type="number" class="form-control" id="add-lat" step="any" placeholder="Latitude">
              </div>
              <div class="form-group col">
                <label for="add-long" class="sr-only">Longitude</label>
                <input type="number" class="form-control" id="add-long" step="any" placeholder="Longitude">
              </div>
            </div>
            <button id="add-submit" type="submit" class="btn btn-primary mb-2">Create</button>
          </form>
        </div>
      </div>
    </div>
    <br/>

    {% for attraction in attractions %}
    <div class="card">
        <div class="card-header" id="{{ attraction["id"] }}-id">
            <h5 class="mb-0">
                <div id="{{ attraction["id"] }}-header" data-toggle="collapse" data-target="#{{ attraction["id"] }}-collapse" aria-expanded="true" aria-controls="{{ attraction["id"] }}-collapse">
                    {{ attraction["name"] }}
                </div>
            </h5>
        </div>

        <div id="{{ attraction["id"] }}-collapse" class="collapse show" aria-labelledby="{{ attraction["id"] }}-id" data-parent="#accordion">
            <div class="card-body">
                <form class="form" id="{{ attraction["id"] }}" action="update">
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="{{ attraction["id"] }}-name" class="sr-only">Name</label>
                            <input type="text" class="form-control" id="{{ attraction["id"] }}-name" value="{{ attraction["name"] }}">
                        </div>
                        <div class="form-group col">
                            <label for="{{ attraction["id"] }}-addr" class="sr-only">Address</label>
                            <input type="text" class="form-control" id="{{ attraction["id"] }}-addr" value="{{ attraction["address"] }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="{{ attraction["id"] }}-rating" class="sr-only">Rating</label>
                            <input type="number" class="form-control" id="{{ attraction["id"] }}-rating" step="any" value="{{ attraction["rating"] }}">
                        </div>
                        <div class="form-group col">
                            <label for="{{ attraction["id"] }}-lat" class="sr-only">Latitude</label>
                            <input type="number" class="form-control" id="{{ attraction["id"] }}-lat" step="any" value="{{ attraction["latitude"] }}">
                        </div>
                        <div class="form-group col">
                            <label for="{{ attraction["id"] }}-long" class="sr-only">Longitude</label>
                            <input type="number" class="form-control" id="{{ attraction["id"] }}-long" step="any "value="{{ attraction["longitude"] }}">
                        </div>
                    </div>
                    <button id="{{ attractions["id"] }}-submit" type="submit" class="btn btn-primary mb-2">Update</button>
                    <button id="{{ attractions["id"] }}-delete" type="button" class="btn btn-danger mb-2" onclick="deleteAttraction({{ attraction["id"] }})">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <br/>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/admin/attractions.js') }}"></script>
{% endblock %}
