{% extends "base.html" %}

{% block content %}
<h3>{{ airbnb["name"] }}</h3>
{% for amenity in airbnb["amenities"] %}
<span class="badge badge-primary">{{ amenity }}</span>
{% endfor %}
<br>
Neighborhood: {{ airbnb["neighborhood"] }}
<br>
Minimum number of nights: {{ airbnb["minimum_nights"] }}
<br>
Price: ${{ airbnb["price"] }}/night
<br>
Rating: {{ airbnb["rating"] }}
<br>
Reviews per month: {{ airbnb["reviews_per_month"] }}
<br>
Minimum number of nights: {{ airbnb["minimum_nights"] }}
<br>
<a href="{{ airbnb["airbnb_url"] }}" target="_blank">Go to Airbnb</a>
<br>
<div class="row">
    <div class="col-sm">
        Nearby restaurants:
        <div class="overflow-auto">
            <ul class="list-group" style="max-height: 300px; overflow: scroll;">
                {% for restaurant in nearby_restaurants %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/restaurant/{{ restaurant["_id"] }}">{{ restaurant["name"] }}</a>
                    <div>
                    {% for category in restaurant["categories"] %}
                    <span class="badge badge-secondary badge-pill">{{ category }}</span>
                    {% endfor %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-sm">
        Nearby attractions:
        <div class="overflow-auto">
            <ul class="list-group" style="max-height: 300px; overflow: scroll;">
                {% for attraction in nearby_attractions %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/attraction/{{ attraction["id"] }}">{{ attraction["name"] }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
