{% extends "base.html" %}

{% block content %}
  <body>
    <p style="text-align:center; font-family:Avenir; font-size:40px">WELCOME</p>
    {% if not user %}
      <p style="text-align:center; font-family:Avenir; font-size:20px">Please log in with your accounts.</p>
    {% else %}
      <p style="text-align:center; font-family:Avenir; font-size:20px"> Hello {{session.username}}!</p>

    <br/>
    <form class="form" action="/" method="GET">
      <div class="form-inline">
        <input type="text" class="form-control" id="search_name" name="search_name" placeholder="Search By Name">
        <input type="text" class="form-control" id="max_price" name="max_price" placeholder="Set Max Price">
        <input type="text" class="form-control" id="lowest_rating" name="lowest_rating" placeholder="Set Lowest Rating">
        <input type="submit" class="btn btn-primary" value="Seach/Filter">
      </div>
    </form>
    <br/>

    {% set ns = namespace(last=false) %}
    {% for airbnb_group in airbnbs | batch(3) %}
    {% set ns.last = loop.last %}
    {% if not ns.last %}
    <div class="card-group">
    {% else %}
    {% endif %}
      {% for airbnb in airbnb_group %}
      {% if ns.last %}
      <div class="no-gutters">
        <div class="col-md-4">
      {% endif %}
        <div class="card">
          <img class="card-img-top" src="{{ airbnb["image_url"] }}" alt="Image preview" height="200" width="300"/>
          <div class="card-body">
            <a href="/airbnb/{{ airbnb["_id"] }}"><h5>{{ airbnb["name"] }}</h5></a>
            Rating: {{ airbnb["rating"] }}/100
            <br>
            Price: ${{ airbnb["price"] }}/night
          </div>
        </div>
      {% if ns.last %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    {% if not ns.last %}
    </div>
    <br>
    {% endif %}
    {% endfor %}

      {% endif %}
  </body>
{% endblock %}
