{% extends "base.html" %}

{% block content %}
<br>
<div class="card">
    <div class="card-header">
        Register
    </div>
    <div class="card-body">
        <form id="register-form">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="re_password">Confirm</label>
                <input type="password" class="form-control" id="re_password" placeholder="Confirm your password" required>
            </div>
            <button id="register-submit" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}
